<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MusicFactoryModels" connectionString="data source=.;initial catalog=MusicFactory;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="SalesReporterConnectionString"
      connectionString="Server=.;Database=MusicFactoryTest; Integrated Security=true" providerName="" />
  </connectionStrings>
</configuration>